@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  background: #f8fbff;
  color: #333;
}

p {
  line-height: 1.7;
}

/* ==========================
   NAVBAR
========================== */

header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 8%;
}

.logo {
  font-size: 32px;
  font-weight: 700;
  color: white;
}

.logo span {
  color: #00d4ff;
}

nav ul {
  display: flex;
  gap: 35px;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: 0.4s;
}

nav ul li a:hover {
  color: #00d4ff;
}

.nav-btn {
  background: #00d4ff;
  padding: 12px 30px;
  border-radius: 30px;
  color: white;
  cursor: pointer;
  transition: 0.4s;
}

.nav-btn:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px #00d4ff;
}

/* ==========================
   HERO SECTION
========================== */

.hero {
  height: 100vh;

  background:
    linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
    url("https://images.unsplash.com/photo-1500530855697-b586d89ba3ee");

  background-size: cover;

  background-position: center;

  display: flex;

  align-items: center;

  padding: 0 8%;
}

.hero-content {
  color: white;
  max-width: 650px;

  animation: slide 1.5s ease;
}

.hero h1 {
  font-size: 60px;
  line-height: 1.2;
}

.hero p {
  font-size: 18px;
  margin: 25px 0;
}

.btn {
  display: inline-block;

  background: #00d4ff;

  color: white;

  padding: 15px 35px;

  border-radius: 40px;

  text-decoration: none;

  transition: 0.4s;
}

.btn:hover {
  transform: scale(1.1);

  box-shadow: 0 10px 25px #00d4ff;
}

@keyframes slide {
  from {
    opacity: 0;
    transform: translateX(-80px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* destination-section */
.destinations {
  padding: 70px 8%;
}

h2 {
  font-size: 40px;
  text-align: center;
  margin-bottom: 15px;
  color: #006eff;
}
.subtitle {
  text-align: center;
  color: #777;
  margin-bottom: 40px;
}

.destination-container {
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));

  gap: 30px;
}

.destination-card {
  background: white;

  border-radius: 20px;

  overflow: hidden;

  box-shadow: 0 10px 30px #ddd;

  transition: 0.5s;
}

.destination-card:hover {
  transform: translateY(-15px);
}

.destination-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;

  transition: 0.5s;
}

.destination-card:hover img {
  transform: scale(1.15);
}

.destination-content {
  padding: 25px;
}

.destination-content h3 {
  font-size: 25px;
  color: #0077ff;
}

.destination-content a {
  display: inline-block;

  margin-top: 15px;

  padding: 10px 25px;

  background: #00d4ff;

  color: white;

  border-radius: 30px;

  text-decoration: none;

  transition: 0.4s;
}

.destination-content a:hover {
  background: #006eff;
}

/* packages sections */
.packages {
  padding: 70px 8%;

  background: #f0f8ff;
}

.package-container {
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));

  gap: 30px;
}

.package-card {
  background: white;

  border-radius: 20px;

  overflow: hidden;

  text-align: center;

  padding-bottom: 25px;

  transition: 0.5s;

  box-shadow: 0 10px 25px #ddd;
}

.package-card:hover {
  transform: scale(1.05);
}

.package-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.package-card button {
  background: #00d4ff;

  border: 30px;
  border-color: none;

  padding: 12px 30px;

  border-radius: 30px;

  color: white;

  cursor: pointer;
}
.package-card button:hover {
  background: #006eff;
}

/* servies-section */

.service {
  padding: 70px 8%;
  background: linear-gradient(90deg, rgb(0, 212, 255), white);
}
.service h2 {
  font-size: 40px;
  margin-bottom: 15px;
  text-align: center;
  color: #006eff;
  /* margin-top: 10px; */
}
.service-container {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.service-container div {
  background: white;
  border-radius: 20px;
  padding: 34px;
  transition: 0.5s;
}
.service-container div:hover {
  transform: translateY(-10px);
  background-color: #006eff;
  color: white;
  /* cursor: pointer; */
}

/* gallery-section */

.gallery {
  padding: 70px 8%;
}

.gallery-container {
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

  gap: 20px;
}

.gallery-container img {
  width: 100%;

  height: 250px;

  object-fit: cover;

  border-radius: 20px;

  transition: 0.5s;
}

.gallery-container img:hover {
  transform: scale(1.1);
}


/* contact -section  */


.contact{
   padding: 70px 8%;
}
 form {
  max-width: 600px;

  margin: auto;

  display: flex;

  flex-direction: column;

  gap: 20px;
}

  form input,textarea{
   padding: 15px;
   border-radius: 10px;
   border: 1px solid #ddd;
 }
 textarea{
   height: 130px;
 }

 
 button
 {
   background-color: #00d4ff;
   color: white;
   border: none;
   border-radius: 30px;
   padding: 15px;
   cursor: pointer;
   transition: 0.5s;

 }

 button:hover{

  color: #006eff;
 }

 
 /* footer-section */

/* ===== FOOTER ===== */

.footer{
    background:#0d1b2a;
    color:#fff;
    text-align:center;
    padding:40px 20px;
    margin-top:60px;
}

.footer h2{
    color:#fff;
    margin-bottom:10px;
}

.footer span{
    color:#00c6ff;
}

.footer p{
    margin:10px 0;
    color:#ddd;
}

.social-icons{
    margin:20px 0;
}

.social-icons a{
    width:45px;
    height:45px;
    display:inline-flex;
    justify-content:center;
    align-items:center;
    border-radius:50%;
    margin:0 8px;
    color:white;
    font-size:20px;
    text-decoration:none;
    transition:.4s;
}

/* Original Brand Colors */

.facebook{
    background:#1877F2;
}

.instagram{
    background:linear-gradient(45deg,#F58529,#DD2A7B,#8134AF,#515BD4);
}

.twitter{
    background:#000000;
}

.youtube{
    background:#FF0000;
}

/* Hover Effect */

.social-icons a:hover{
    transform:translateY(-8px) scale(1.1);
    box-shadow:0 8px 20px rgba(255,255,255,.3);
}

.copy{
    margin-top:20px;
    font-size:14px;
    color:#bbb;
}

/* ==========================
   RESPONSIVE DESIGN
========================== */

/* Tablet Devices */
@media (max-width: 992px) {

    nav {
        padding: 20px 5%;
    }

    nav ul {
        gap: 15px;
    }

    .hero h1 {
        font-size: 45px;
    }

    .service-container {
        flex-wrap: wrap;
    }

    .service-container div {
        width: 45%;
    }

}


/* Mobile Devices */
@media (max-width: 768px) {

    /* Navbar */

    nav {
        flex-direction: column;
        gap: 20px;
        background: rgba(0,0,0,0.4);
    }

    .logo {
        font-size: 28px;
    }

    nav ul {
        flex-direction: column;
        text-align: center;
        gap: 15px;
    }

    .nav-btn {
        padding: 10px 25px;
    }


    /* Hero */

    .hero {
        height: auto;
        min-height: 100vh;
        padding: 150px 5% 50px;
        text-align: center;
    }

    .hero-content {
        margin:auto;
    }

    .hero h1 {
        font-size: 35px;
    }

    .hero p {
        font-size: 15px;
    }


    /* Sections */

    h2 {
        font-size: 30px;
    }


    /* Destination Cards */

    .destination-container {
        grid-template-columns: 1fr;
    }


    /* Packages */

    .package-container {
        grid-template-columns: 1fr;
    }


    /* Services */

    .service-container {
        flex-direction: column;
        align-items:center;
    }

    .service-container div {
        width:100%;
        text-align:center;
    }


    /* Gallery */

    .gallery-container {
        grid-template-columns:1fr;
    }

    .gallery-container img {
        height:220px;
    }


    /* Contact */

    form {
        width:100%;
    }


    /* Footer */

    .footer h2 {
        font-size:30px;
    }

    .social-icons a {
        width:40px;
        height:40px;
        font-size:18px;
    }

}


/* Small Mobile Devices */

@media (max-width:480px){

    .hero h1{
        font-size:30px;
    }


    .hero p{
        font-size:14px;
    }


    .btn{
        padding:12px 25px;
    }


    .destination-card img{
        height:200px;
    }


    .package-card img{
        height:200px;
    }


    h2{
        font-size:26px;
    }

}